@model GestionVehiculos.WebUI.Models.ListaClientesPaginado

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">
                <div class="container">
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Nombre
                        </a>
                        <div class="dropdown-menu">
                            @using (Html.BeginForm("ListaClientes", "Clientes", FormMethod.Get, new { @class = "px-4 py-3" }))
                            {
                                <div class="mb-3">
                                    <input type="text" name="valor" class="form-control" id="fmNombre" placeholder="Buscar" autocomplete="off">
                                    @*<input type="hidden" name="filtro" class="form-control" id="filtroMarca" value="Marca">*@
                                    @Html.Hidden("filtro", "Nombre", new { @class = "form-control" })
                                </div>                                
                                <button type="submit" class="btn btn-primary">Aplicar</button>
                                @*@Html.ActionLink("Aplicar", "ListaCoches", new { valor = "Mercedes", page = 1 }, new { @class = "btn btn-default" })*@
                                
                            }

                        </div>
                    </div>
                </div>
            </th>
            <th scope="col">
                <div class="container">
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Apellidos
                        </a>
                        <div class="dropdown-menu">
                            @using (Html.BeginForm("ListaClientes", "Clientes", FormMethod.Get, new { @class = "px-4 py-3" }))
                            {
                                <div class="mb-3">
                                    <input type="text" name="valor" class="form-control" id="fmApellidos" placeholder="Buscar" autocomplete="off">
                                    @*<input type="hidden" name="filtro" class="form-control" id="filtroMarca" value="Marca">*@
                                    @Html.Hidden("filtro", "Apellidos", new { @class = "form-control" })
                                </div>                                
                                <button type="submit" class="btn btn-primary">Aplicar</button>
                                @*@Html.ActionLink("Aplicar", "ListaCoches", new { valor = "Mercedes", page = 1 }, new { @class = "btn btn-default" })*@
                                
                            }

                        </div>
                    </div>
                </div>
            </th>
            <th scope="col">
                <div class="container">
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            NIF
                        </a>
                        <div class="dropdown-menu">
                            @using (Html.BeginForm("ListaClientes", "Clientes", FormMethod.Get, new { @class = "px-4 py-3" }))
                            {
                                <div class="mb-3">
                                    <input type="text" name="valor" class="form-control" id="fmNif" placeholder="Buscar" autocomplete="off">
                                    @*<input type="hidden" name="filtro" class="form-control" id="filtroMarca" value="Marca">*@
                                    @Html.Hidden("filtro", "Nif", new { @class = "form-control" })
                                </div>                                
                                <button type="submit" class="btn btn-primary">Aplicar</button>
                                @*@Html.ActionLink("Aplicar", "ListaCoches", new { valor = "Mercedes", page = 1 }, new { @class = "btn btn-default" })*@
                                
                            }

                        </div>
                    </div>
                </div>
            </th>
            <th scope="col">
                <div class="container">
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Teléfono
                        </a>
                        <div class="dropdown-menu">
                            @using (Html.BeginForm("ListaClientes", "Clientes", FormMethod.Get, new { @class = "px-4 py-3" }))
                            {
                                <div class="mb-3">
                                    <input type="text" name="valor" class="form-control" id="fmTelefono" placeholder="Buscar" autocomplete="off">
                                    @*<input type="hidden" name="filtro" class="form-control" id="filtroMarca" value="Marca">*@
                                    @Html.Hidden("filtro", "Telefono", new { @class = "form-control" })
                                </div>                                
                                <button type="submit" class="btn btn-primary">Aplicar</button>
                                @*@Html.ActionLink("Aplicar", "ListaCoches", new { valor = "Mercedes", page = 1 }, new { @class = "btn btn-default" })*@
                                
                            }

                        </div>
                    </div>
                </div>
            </th>
            <th scope="col">
                <div class="container">
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Email
                        </a>
                        <div class="dropdown-menu">
                            @using (Html.BeginForm("ListaClientes", "Clientes", FormMethod.Get, new { @class = "px-4 py-3" }))
                            {
                                <div class="mb-3">
                                    <input type="text" name="valor" class="form-control" id="fmEmail" placeholder="Buscar" autocomplete="off">
                                    @*<input type="hidden" name="filtro" class="form-control" id="filtroMarca" value="Marca">*@
                                    @Html.Hidden("filtro", "Email", new { @class = "form-control" })
                                </div>                               
                                <button type="submit" class="btn btn-primary">Aplicar</button>
                                @*@Html.ActionLink("Aplicar", "ListaCoches", new { valor = "Mercedes", page = 1 }, new { @class = "btn btn-default" })*@
                               
                            }

                        </div>
                    </div>
                </div>
            </th>
            <th scope="col"></th>
            <th scope="col">Acciones</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in Model.clientes)
        {
            <tr>
                <th scope="row">@cliente.Clienteid</th>
                <td>@cliente.Nombre</td>
                <td>@cliente.Apellidos</td>
                <td>@cliente.NIF</td>
                <td>@cliente.Telefono</td>
                <td>@cliente.Email</td>
                
                <td>
                    @Html.ActionLink("Ver", "Ver", "Clientes", new { cliente.Clienteid }, new { @class = "btn btn-success far fa-eye" })

                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", "Clientes", new { cliente.Clienteid }, new { @class = "btn btn-warning fas fa-edit" })
                </td>
                <td>
                    @using (Html.BeginForm("Borrar", "Clientes", FormMethod.Post))
                    {
                        @Html.Hidden("Clienteid", cliente.Clienteid);
                        <input type="submit"
                               class="btn btn-danger far fa-trash-alt"
                               value="Borrar" />
                    }
                </td>

            </tr>
        }
    </tbody>
</table>