@model GestionVehiculos.WebUI.Models.ListaCochesPaginado

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">
                <div class="container">
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Marca
                        </a>
                        <div class="dropdown-menu">
                            @using (Html.BeginForm("ListaCoches", "Coches", FormMethod.Get, new { @class = "px-4 py-3" }))
                            {
                                <div class="mb-3">
                                    <input type="text" name="valor" class="form-control" id="fmMarca" placeholder="Buscar" autocomplete="off">
                                    @*<input type="hidden" name="filtro" class="form-control" id="filtroMarca" value="Marca">*@        
                                    @Html.Hidden("filtro","Marca", new {@class = "form-control"})
                                </div>                                
                                <button type="submit" class="btn btn-primary">Aplicar</button>
                                @*@Html.ActionLink("Aplicar", "ListaCoches", new { valor = "Mercedes", page = 1 }, new { @class = "btn btn-default" })*@
                               
                            }
                            
                        </div>
                    </div>
                </div>
            </th>
            <th scope="col">
                <div class="container">
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Modelo
                        </a>                           
                        <div class="dropdown-menu">
                            @using (Html.BeginForm("ListaCoches", "Coches", FormMethod.Get, new { @class = "px-4 py-3" }))
                            {
                                <div class="mb-3">
                                    <input type="text" name="valor" class="form-control" id="fmModelo" placeholder="Buscar" autocomplete="off">
                                    @*<input type="hidden" name="filtro" class="form-control" id="filtroModelo" value="Modelo">*@
                                    @Html.Hidden("filtro", "Modelo", new { @class = "form-control" })
                                </div>                                
                                <button type="submit" class="btn btn-primary">Aplicar</button>
                                @*@Html.ActionLink("Aplicar", "ListaCoches", new { valor = "Mercedes", page = 1 }, new { @class = "btn btn-default" })*@
                                
                            }
                        </div>
                    </div>
                </div>
            </th>
            <th scope="col">
                <div class="container">
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Matrícula
                        </a>
                        <div class="dropdown-menu">
                            @using (Html.BeginForm("ListaCoches", "Coches", FormMethod.Get, new { @class = "px-4 py-3" }))
                            {
                                <div class="mb-3">
                                    <input type="text" name="valor" class="form-control" id="fmMatricula" placeholder="Buscar" autocomplete="off">
                                    @*<input type="hidden" name="filtro" class="form-control" id="filtroMatricula" value="Matrícula">*@
                                    @Html.Hidden("filtro", "Matrícula", new { @class = "form-control" })
                                </div>                                
                                <button type="submit" class="btn btn-primary">Aplicar</button>
                                @*@Html.ActionLink("Aplicar", "ListaCoches", new { valor = "Mercedes", page = 1 }, new { @class = "btn btn-default" })*@
                                
                            }
                        </div>
                    </div>
                </div>
            </th>
            <th scope="col"></th>
            <th scope="col">Acciones</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var coche in Model.coches) {
            <tr>
                <th scope="row">@coche.Cocheid</th>
                <td>@coche.Marca</td>
                <td>@coche.Modelo</td>
                <td> @Html.ActionLink(coche.Matricula,"Ver","Coches",new { coche.Cocheid },null) </td>
                <td>
                    @Html.ActionLink("Ver","Ver","Coches",new { coche.Cocheid },new { @class = "btn btn-success far fa-eye" })
                    
                   
                </td> 
                <td>
                    @Html.ActionLink("Editar","Edit","Coches",new { coche.Cocheid },new { @class = "btn btn-warning fas fa-edit" })
                </td>
                <td>
                    @using(Html.BeginForm("Borrar","Coches",FormMethod.Post)) {
                        @Html.Hidden("Cocheid", coche.Cocheid);
                        <input type="submit"
                               class="btn btn-danger far fa-trash-alt"
                               value="Borrar" />
                        }
                </td>
             
            </tr>
        }
    </tbody>
</table>
           
