@model GestionVehiculos.WebUI.Models.ListaCochesPaginado

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">
                <div class="container">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Marca<span class="caret"></span>
                        </button>
                        <div class="dropdown-menu">
                            @using (Html.BeginForm("ListaCoches", "Coches", FormMethod.Get, new { @class = "btn btn-primary" }))
                            {
                                <div class="form-group">
                                    <input type="text" name="valor" class="form-control" id="fmMarca" placeholder="Buscar" autocomplete="off" 
                                           required="" oninvalid="this.setCustomValidity('Por favor, introduzca un término de búsqueda')" oninput="setCustomValidity('')">
                                    @*<input type="hidden" name="filtro" class="form-control" id="filtroMarca" value="Marca">*@        
                                    @Html.Hidden("filtro","Marca", new {@class = "form-control"})
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">Aplicar</button>
                                    @*@Html.ActionLink("Aplicar", "ListaCoches", new { valor = "Mercedes", page = 1 }, new { @class = "btn btn-default" })*@
                                </div>
                            }
                            
                        </div>
                    </div>
                </div>
            </th>
            <th scope="col">
                <div class="container">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Modelo<span class="caret"></span>
                        </button>
                        <div class="dropdown-menu">
                            @using (Html.BeginForm("ListaCoches", "Coches", FormMethod.Get, new { @class = "btn btn-primary" }))
                            {
                                <div class="form-group">
                                    <input type="text" name="valor" class="form-control" id="fmModelo" placeholder="Buscar" autocomplete="off" 
                                           required="" oninvalid="this.setCustomValidity('Por favor, introduzca un término de búsqueda')" oninput="setCustomValidity('')">
                                    <input type="hidden" name="filtro" class="form-control" id="filtroModelo" value="Modelo">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">Aplicar</button>
                                    @*@Html.ActionLink("Aplicar", "ListaCoches", new { valor = "Mercedes", page = 1 }, new { @class = "btn btn-default" })*@
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </th>
            <th scope="col">
                <div class="container">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Matrícula<span class="caret"></span>
                        </button>
                        <div class="dropdown-menu">
                            @using (Html.BeginForm("ListaCoches", "Coches", FormMethod.Get, new { @class = "btn btn-primary" }))
                            {
                                <div class="form-group">
                                    <input type="text" name="valor" class="form-control" id="fmMatricula" placeholder="Buscar" autocomplete="off" 
                                           required="" oninvalid="this.setCustomValidity('Por favor, introduzca un término de búsqueda')" oninput="setCustomValidity('')">
                                    <input type="hidden" name="filtro" class="form-control" id="filtroMatricula" value="Matrícula">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">Aplicar</button>
                                    @*@Html.ActionLink("Aplicar", "ListaCoches", new { valor = "Mercedes", page = 1 }, new { @class = "btn btn-default" })*@
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </th>
            <th scope="col"></th>
            <th scope="col">Acciones</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var coche in Model.coches) {
            <tr>
                <th scope="row">@coche.Cocheid</th>
                <td>@coche.Marca</td>
                <td>@coche.Modelo</td>
                <td> @Html.ActionLink(coche.Matricula,"Ver","Coches",new { coche.Cocheid },null) </td>
                <td>
                    @Html.ActionLink("Ver","Ver","Coches",new { coche.Cocheid },new { @class = "btn btn-success far fa-eye" })
                    
                   
                </td> 
                <td>
                    @Html.ActionLink("Editar","Edit","Coches",new { coche.Cocheid },new { @class = "btn btn-warning fas fa-edit" })
                </td>
                <td>
                    @using(Html.BeginForm("Borrar","Coches",FormMethod.Post)) {
                        @Html.Hidden("Cocheid", coche.Cocheid);
                        <input type="submit"
                               class="btn btn-danger far fa-trash-alt"
                               value="Borrar" />
                        }
                </td>
             
            </tr>
        }
    </tbody>
</table>
           
