@model GestionVehiculos.Domain.Reservas
@using GestionVehiculos.Domain.Abstract

@{
    ViewBag.Title = "Edit";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Editar @Model.FechaReserva</h3>
    </div>
    @using (Html.BeginForm("Edit", "Reservas", FormMethod.Post))
    {
        <div class="row g-3">
            @Html.HiddenFor(z => z.Reservarid)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                if (property.PropertyName != "Reservarid" && property.PropertyName != "Clienteid" && property.PropertyName != "CentroRecogidaid"
                     && property.PropertyName != "CentroDevolucionid" && property.PropertyName != "Vehiculoid")
                {
                    if (property.PropertyName == "Clientes")
                    {
                        <div class="col-md-6">
                            <label class="form-label">Cliente</label>
                            @Html.DropDownListFor(m => m.Clienteid, (IEnumerable<SelectListItem>)ViewBag.Clientes, new { @class = "form-control" })
                        </div>
                    }
                    else if (property.PropertyName == "Coches")
                    {
                        <div class="col-md-6">
                            <label class="form-label">Vehículo</label>
                            @*@Html.TextBox(property.PropertyName, Model.Coches.Marca + " " + Model.Coches.Modelo, new { @class = "form-control" })*@
                            @Html.DropDownListFor(m => m.Vehiculoid, (IEnumerable<SelectListItem>)ViewBag.Coches, new { @class = "form-control" })
                        </div>
                    }
                    else if (property.PropertyName == "DelegacionesEntrega")
                    {
                        <div class="col-md-6">
                            <label class="form-label">Centro de recogida</label>
                            @Html.DropDownListFor(m => m.CentroRecogidaid, (IEnumerable<SelectListItem>)ViewBag.Delegaciones, new { @class = "form-control" })
                        </div>
                    }
                    else if (property.PropertyName == "DelegacionesRecogida")
                    {
                        if (Model.DelegacionesRecogida != null)
                        {
                            <div class="col-md-6">
                                <label class="form-label">Centro de devolución</label>
                                @Html.DropDownListFor(m => m.CentroDevolucionid, (IEnumerable<SelectListItem>)ViewBag.Delegaciones, new { @class = "form-control" })
                            </div>
                        }
                        else
                        {
                            <div class="col-md-6">
                                <label class="form-label">Centro de devolución</label>
                                @Html.DropDownListFor(m => m.CentroDevolucionid, (IEnumerable<SelectListItem>)ViewBag.Delegaciones, "Seleccione un centro de devolución", new { @class = "form-control" })
                            </div>
                        }

                    }
                    else if (property.PropertyName == "DepositoLleno")
                    {                      

                        if (Model.DepositoLleno == true)
                        {
                           
                            <div class="col-md-6">
                                <label for=@property.PropertyName class="form-label">Depósito lleno</label>
                                @Html.DropDownListFor(m => m.DepositoLleno, new List<SelectListItem>() {
                                   new SelectListItem { Text = "Si", Value = "true", Selected = true},
                                   new SelectListItem { Text = "No", Value = "false"}
                                }, new { @class = "form-control" })

                            </div>
                            
                        }
                        else
                        {
                           
                            <div class="col-md-6">
                                <label for=@property.PropertyName class="form-label">Depósito lleno</label>
                                @Html.DropDownListFor(m => m.DepositoLleno, new List<SelectListItem>() {
                                   new SelectListItem { Text = "Si", Value = "true"},
                                   new SelectListItem { Text = "No", Value = "false", Selected = true}
                                }, new { @class = "form-control" })

                            </div>

                        }
                        
                    }
                    else if (property.PropertyName == "FechaReserva")
                    {
                        <div class="col-md-6">
                            <label class="form-label">Fecha de reserva</label>
                            @Html.TextBox(property.PropertyName, Model.FechaReserva.ToString("yyyy-MM-ddTHH:mm"), new { @class = "form-control", @type = "datetime-local" })
                        </div>
                    }
                    else if (property.PropertyName == "FechaDevolucion")
                    {

                        <div class="col-md-6">
                            <label class="form-label">Fecha de devolución</label>
                            @{
                                string formattedDateTime = Model.FechaDevolucion != null ? Model.FechaDevolucion.Value.ToString("yyyy-MM-ddTHH:mm") : string.Empty;
                            }

                            @Html.TextBox(property.PropertyName, formattedDateTime, new { @class = "form-control", @type = "datetime-local" })
                        </div>

                    }
                    else
                    {
                        <div class="col-md-6">
                            <label class="form-label">@property.PropertyName</label>
                            @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                        </div>
                    }

                }
            }
            <div class="col-12">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                @Html.ActionLink("Cancelar", "ListaReservas", "Reservas", null, new { @class = "btn btn-secondary" })
            </div>

        </div>

    }
</div>

