@model GestionVehiculos.Domain.Reservas

@{
    ViewBag.Title = "Ver";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Ver @Model.FechaReserva</h3>
    </div>
    @using (Html.BeginForm())
    {
        <div class="row g-3">
            @Html.HiddenFor(z => z.Reservarid)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                if (property.PropertyName != "Reservarid" && property.PropertyName != "Clienteid" && property.PropertyName != "CentroRecogidaid"
                    && property.PropertyName != "CentroDevolucionid" && property.PropertyName != "Vehiculoid")
                {
                    if (property.PropertyName == "Clientes")
                    {
                        <div class="col-md-6">
                            <label class="form-label">@property.PropertyName</label>
                            @Html.TextBox(property.PropertyName, Model.Clientes.Nombre + " " + Model.Clientes.Apellidos, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    }
                    else if (property.PropertyName == "Coches")
                    {
                        <div class="col-md-6">
                            <label class="form-label">@property.PropertyName</label>
                            @Html.TextBox(property.PropertyName, Model.Coches.Marca + " " + Model.Coches.Modelo, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    }
                    else if (property.PropertyName == "DelegacionesEntrega")
                    {
                        <div class="col-md-6">
                            <label class="form-label">@property.PropertyName</label>
                            @Html.TextBox(property.PropertyName, Model.DelegacionesEntrega.Nombre, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    }
                    else if (property.PropertyName == "DelegacionesRecogida")
                    {
                        if (Model.DelegacionesRecogida != null)
                        {
                            <div class="col-md-6">
                                <label class="form-label">@property.PropertyName</label>
                                @Html.TextBox(property.PropertyName, Model.DelegacionesRecogida.Nombre, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        }
                        else
                        {
                            <div class="col-md-6">
                                <label class="form-label">@property.PropertyName</label>
                                @Html.TextBox(property.PropertyName, "", new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        }

                    }
                    else if (property.PropertyName == "DepositoLleno")
                    {
                        if (Model.DepositoLleno == true)
                        {
                            <div class="col-md-6">
                                <label class="form-label">@property.PropertyName</label>
                                @Html.TextBox(property.PropertyName, "Si", new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        }
                        else
                        {
                            <div class="col-md-6">
                                <label class="form-label">@property.PropertyName</label>
                                @Html.TextBox(property.PropertyName, "No", new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        }
                    }
                    else
                    {
                        <div class="col-md-6">
                            <label class="form-label">@property.PropertyName</label>
                            @Html.TextBox(property.PropertyName, null, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    }



                }
            }
            <div class="col-12">
                @Html.ActionLink("Volver", "ListaReservas", "Reservas", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    }
</div>
