@model GestionVehiculos.Domain.Coches

@{
    ViewBag.Title = "Edit";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Editar @Model.Matricula</h3>
    </div>
    @using(Html.BeginForm("Edit", "Coches", FormMethod.Post)) {
        <div class="mb-3">
            @Html.HiddenFor(z => z.Cocheid)            
            @foreach(var property in ViewData.ModelMetadata.Properties) {
                if(property.PropertyName != "Cocheid" && property.PropertyName != "Reservas") {
                   
                    <label class="form-label">@property.PropertyName</label>
                    @Html.TextBox(property.PropertyName, null, new { @class = "form-control"})                       
                    
                }
            }

        </div>



        <div class="panel-footer">
            <input type="submit" value="Guardar" class="btn btn-primary" />
            @Html.ActionLink("Cancelar","ListaCoches","Coches",null,new { @class = "btn btn-secondary"})
        </div>
    }
</div>

