@model GestionVehiculos.Domain.Coches

@{
    ViewBag.Title = "Ver";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Ver @Model.Matricula</h3>
    </div>
    @using(Html.BeginForm()) {
        <div class="mb-3">
            @Html.HiddenFor(z => z.Cocheid)
            @foreach(var property in ViewData.ModelMetadata.Properties) {
                if(property.PropertyName != "Cocheid" && property.PropertyName != "Reservas") {
                    
                    <label class="form-label">@property.PropertyName</label>
                    @Html.TextBox(property.PropertyName,null,new { @class = "form-control", @readonly = "readonly" })
                    
                }
            }

        </div>



        <div class="panel-footer">           
            @Html.ActionLink("Volver","ListaCoches","Coches",null,new { @class = "btn btn-primary" })
        </div>
    }
</div>